* {
  box-sizing: border-box;
}

.main {
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.btn {
  width: 70px;
}
